@font-face {
  font-family: "Old Fenris";
  font-weight: 400;
  font-style: "normal";
  src: url("https://blz-contentstack-assets.akamaized.net/v3/assets/blt9c12f249ac15c7ec/blt87dbca38eae7d12d/625007b988b34525a18e6563/OldFenris-Regular.otf");
  font-display: swap;
}

:root {
  --font-default: "Alegreya Sans", Helvetica,Arial, sans-serif;
  --font-default-weight: 500;
  --font-default-scale: 1.1;
  --font-accent: "Old Fenris", serif;
  --font-accent-scale: 0.9;

  --fs-100: 12px;
  --fs-200: 14px;
  --fs-300: 16px;
  --fs-400: 18px;
  --fs-500: 20px;
  --fs-600: 24px;
  --fs-700: 36px;
  --fs-800: 48px;
  --fs-900: 60px;

  --heading-default: #d2c8ae;
  --text-default: #878582;
  --btn-text-default: #e5e0c8;
  --container-width: 720px;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--font-default);
  font-weight: 500;
  text-shadow: 3px 5px 5px rgba(0, 0, 0, 0.5);
  color: var(--text-default);
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("leather-texture_800.webp");
  background-repeat: repeat;
  background-color: #000000;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

table,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

::selection {
  background: #6d1212;
  color: white;
}

/* For Firefox */
::-moz-selection {
  background: #6d1212;
  color: white;
}
